@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminMaster.cshtml";
}


<div class="row" style="min-height:400px;">
     <div class="col-sm-3"></div>
           <div class="col-sm-6" style="height:400px; background:rgba(1.5,0.5,0.5,0.5); border-radius:15px
                ;margin-top:10px;  font-family: algerian">
                <div class="col-sm-12" style="height:50px;width: 100%;color: red;text-align: center;font-size:
                    30px;font-weight: bold;font-family:ROG FONTS;">Change Password</div>
               <form action="/AdminZone/ChangePassword" method="post"  style="color:white;font-size:18px;font-weight: bold;font-family: Neuton-Regular;">
               
       Old Password:
               <input name="oldpass" type="password"  placeholder="Enter YOUR  Old Password ...." class="form-control"/><br>
             New Password:
               <input name="newpass" type="password"  placeholder="Enter YOUR New Password...." class="form-control"/><br>
            Confirm Password:
               <input name="confirmpass" type="password"  placeholder="Enter YOUR  Confirm Password...." class="form-control"/><br>
             
               
 <input type="submit" value="Change Password" class="btn btn-success" style="margin-left:40%;background:transparent; "/>
               
               
               </form>
               </div>
</div>
