@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!--SLIDER SECTION-->
        <div class="container-fluid">
            <div class="row" data-aos="role">
            <div id="dslide"  class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#dslide" data-slide-to="0" class="active"></li>
            <li data-target="#dslide" data-slide-to="1" ></li>
            <li data-target="#dslide" data-slide-to="2" ></li>
        </ol>
            <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/img/bg1.jpg">
            </div>
            <div class="item">
            <img src="~/Content/img/slide2.jpg">
            </div>
            <div class="item">
                <img src="~/Content/img/slide3.jpg">
                </div>
            </div>
            </div>
            </div>
            </div>
            <!--SLIDER SECTION-->
            
<!--child1 -->
<div class="row">
    <div class="col-md-1" style="height: 300px;"></div>
<div class="col-md-4" style="height: 300px;">
    <video width="100%" height="100%" controls>
        <source src="~/Content/img/vd1.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
     </video>

</div>
<div class="col-md-6" style="height: 300px;">
    <p  style="font-family:Neuton-Regular;color:white; padding-left: 100px; padding-top: 20px;font-size:35px;">
       IT'S TIME TO JOIN RAO FITNESS</p>
        <p  style="font-family:Neuton-Regular;color:white; padding-left: 100px; padding-top:
         20px;font-size:20px;">What makes Rao Fitness the best gym in India?  Fitness offers a personalized, accessible, and inclusive place for your workout! </p>
         <p  style="font-family:Neuton-Regular;color:white; padding-left: 100px; padding-top:
         20px;font-size:20px;">Offering the opportunity to stay healthy to people from all walks of life, Rao
         Fitness offers avant-garde equipment and the latest fitness trends to keep you motivated, 
         no matter your level of fitness. </p>
</div>
<div class="col-md-1"  style="height: 300px;"></div>
</div><br />
<!--child1 End-->

<!--child2 -->
<div class="row">
    <div class="col-md-1" style="height: 300px;"></div>
    <div class="col-md-6" style="height: 300px;">
        <p  style="font-family:Neuton-Regular;color:white; padding-left: 100px; padding-top: 10px;font-size:35px;">
            FITNESS FOR ALL </p>
            <p  style="font-family:Neuton-Regular;color:white; padding-left: 100px; padding-top:
             15px;font-size:20px;">Fitness is not the prerogative of a few AF gyms in India. It is the right of each
              individual on the same premise, and we are committed to ‘Make Healthy Happen’ for all. </p>
             <p  style="font-family:Neuton-Regular;color:white; padding-left: 100px; padding-top:
             15px;font-size:20px;">To realise this dream, AF offers a 24/7/365 open-door policy, so that your gym schedule works according to you.
              AF also has Personal Training and Fitness consultations based on your goals, current lifestyle, 
              and various other demographics. </p>
    </div>

    <div class="col-md-4" style="height: 300px;">
        <video width="100%" height="100%" controls>
            <source src="~/Content/img/vd.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
         </video>
    
    </div>
    

<div class="col-md-1"  style="height: 300px;"></div>
</div><br />
<!--child2 End-->
<!--child3 -->
<div class="row">
    <div class="col-md-1" style="height: 300px;"></div>
<div class="col-md-4" style="height: 300px;">
< <video width="100%" height="100%" controls>
        <source src="~/Content/img/vdyoga.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
     </video>
</div>
<div class="col-md-6" style="height: 300px;">
    <p  style="font-family:Neuton-Regular;color:white; padding-left: 100px; padding-top:10px;font-size:35px;">
        Yoga for Beginners </p>
        <p  style="font-family:Neuton-Regular;color:white; padding-left: 100px; padding-top:
         20px;font-size:20px;">This Yoga For Beginner’s Pack is just what you need to ignite your passion for yoga! 
         Whether you are a complete beginner, or have tried yoga in the past and are ready to really get going, 
         these 5 sessions in this pack will show you the way. </p>
         <p  style="font-family:Neuton-Regular;color:white; padding-left: 100px; padding-top:
         5px;font-size:20px;">This course is designed for the complete beginner,
          so there’s no need to be wary if you have no previous yoga experience.  </p>
</div>
<div class="col-md-1"  style="height: 300px;"></div>
</div><br /><br />
<!--child3 End-->
<div class="row" style="min-height:250px;">
     <div class="col-md-1"></div>
    <div class="col-md-2" style="background:rgba(1.5,0.5,0.5,0.5);border-radius:30px"><form action="/Home/member" method="post"><h1 style="color:white;font-size:30px;text-align:center;">3 Month Plans</h1><br /><h3 style="color:white;font-size:15px;">+Add intaonal Rs.500 off applied<br />+Get Free Amzon Voucher worth Rs.250<br />+Free 15 days exctension<br /><br /><button type="submit" class="form-control btn btn-success">Join Now</button></h3></form></div>  <br /> 


     <div class="col-md-1"></div>


            <div class="col-md-3" style="background:rgba(1.5,0.5,0.5,0.5);border-radius:30px"><form action="/Home/member" method="post"><h1 style="color:white;font-size:30px;text-align:center;">6 Month Plans</h1><br /><h3 style="color:white;font-size:15px;">+Add intaonal Rs.1500 off applied<br />+Get Free Amzon Voucher worth Rs.750<br />+ 1 more Offers<br /><br /><button type="submit" class="form-control btn btn-success">Join Now</button></h3></form></div><br />
          <div class="col-md-1"></div>
            <div class="col-md-3" style="background:rgba(1.5,0.5,0.5,0.5);border-radius:30px"><form action="/Home/member" method="post"><h1 style="color:white;font-size:30px;text-align:center;">1 Years Plans</h1><br /><h3 style="color:white;font-size:15px;">+Add intaonal Rs.1500 off applied<br />+Get Free Amzon Voucher worth Rs.1000<br />+ 2 more Offers<br /><br /><button type="submit" class="form-control btn btn-success">Join Now</button></h3></form></div>
     <div class="col-md-1"></div>
        


    </div>

 

<!---->
<div class="row">
    <div class="col-md-1" style="height:400px; "></div>
     <div class="col-md-5" style="height:400px;">
      <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3545.2763843294706!2d81.11834697554708!3d27.304537476415835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2s7MV3843C%2BR97!5e0!3m2!1sen!2sin!4v1693635141365!5m2!1sen!2sin"
           width="100%" height="400px" style="border:0;border-radius:10px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  

     </div>
     <div class="col-md-5" style="height:400px;">
     <video width="100%" height="100%" controls>
        <source src="~/Content/img/veed.mp4" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
     </video>
     </div>
 <div class="col-md-1" style="height:400px;"></div>
</div>
<br />














