@{
    ViewBag.Title = "member";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}
<script>
    function getCaptcha()
    {
        var strArr = "0123456789abcdnhklop ";
        var code = "";
        for (var i = 0; i < 5; i++)
        {
            code = code + strArr[Math.floor(Math.random() * 20)];
            
        }
        return code;
    }
    function demo()
    {
        var c = getCaptcha();
        document.getElementById("ct1").innerHTML = c;
        document.getElementById("hdn1").value = c;
    }

</script>
<div class="row" style="min-height:650px;">
     <div class="col-sm-3"></div>
           <div class="col-sm-6" style="height:650px;background:rgba(1.5,0.5,0.5,0.5); border-radius:15px
                ;margin-top: 80px;  font-family: algerian">
                <div class="col-sm-12" style="height:40px;width: 100%;color: white;text-align: center;font-size:
                    30px;font-weight: bold;font-family:ROG FONTS;">BECOME MEMBER</div>
               <form action="/Home/member/" enctype="multipart/form-data" method="post"  style="color:white;font-size:18px;font-weight: bold;font-family:Neuton-Regular;">
                   Name:
               <input  name="Name" type="text"  placeholder="Enter Your Name...." class="form-control"/><br />
           Mobile No:
               <input name="mob" type="number"  placeholder="Enter Your Mobile No...." class="form-control"/><br />
                 
                      Address:
               <input  name="address" type="text"  placeholder="Enter Your Address...." class="form-control"/><br />
                     Select City:
               <select name="city" class="form-control"  style="color:#072E33;">
                  <option>Select Option</option>
                  <option>Mahmudabad</option>
                   <option>Sitapur</option>
                    <option>Lucknow</option>
                     <option>Other</option>
              </select><br>

              
                     Price/Plan:
             <select name="pplan" class="form-control"  style="color:#072E33;">
                  <option>Select Price/Plan</option>
                  <option>1 MONTH/2,000Rs</option>
                   <option>3 MONTH/5,000Rs</option>
                    <option>6 MONTH/8,000Rs</option>
                     <option>1 YEAR/15,000Rs</option>
              </select><br>
                 
                      Gender:
              <input name="gender"  type="radio" name="gender" value="Male"/>Male
              <input name="gender"  type="radio" name="gender" value="Female"/>Female<br/>

                   Captcha Code:<span style="color:red;font-size:25px;font-family:Baskerville Old Face;"><strike id="ct1">fwt4l</strike></span>
                   <span  style="color:white;font-size:20px;cursor:pointer;" onclick="demo()" >Refresh</span>
<input type="text" name="ct1" placeholder="Enter Captcha code" class="form-control" />
                   <input type="hidden" id="hdn1" name="hdn1" />

        <br />       
 <input type="submit" value="SUBMIT" class="btn btn-success" style="margin-left:40%;background:transparent; "/>
               
               
               </form>
               </div>
</div>