@{
    ViewBag.Title = "picture";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!--SLIDER SECTION-->
        <div class="container-fluid">
            <div class="row" data-aos="role">
            <div id="dslide"  class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#dslide" data-slide-to="0" class="active"></li>
            <li data-target="#dslide" data-slide-to="1" ></li>
            <li data-target="#dslide" data-slide-to="2" ></li>
        </ol>
            <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/img/pg1.jpg">
            </div>
            <div class="item">
            <img src="~/Content/img/pg2.jpg">
            </div>
            <div class="item">
                <img src="~/Content/img/pg3.jpg">
                </div>
            </div>
            </div>
            </div>
            </div>
            <!--SLIDER SECTION-->
<hr />
<div class="row">
    <div class="col-md-4" style="height:50px; background:rgba(1.5,0.5,0.5,0.5);"></div>
    <div class="col-md-4"style="height:50px; background:rgba(1.5,0.5,0.5,0.5); ">
        <p  style="font-family:ROG FONTS;color:white;text-align:center;font-size:29px;">Picture Gallary</p>
    </div>
    <div class="col-md-4"style="height:50px; background:rgba(1.5,0.5,0.5,0.5); "></div>

</div>
<br />
<div class="row">

    <div class="col-md-1" style="height:25px;"></div>
    <div class="col-md-2"style="height:25px; border-radius:10px;background:rgba(1.5,0.5,0.5,0.5); ">
        <p  style="font-family:ROG FONTS;color:red;text-align:center;font-size:15px;">Our Members</p>
    </div>
    

</div>
<br />
<div class="row">
 <div class="col-md-1" style="height:300px;"></div>
    <div class="col-md-2" style="height:300px; ">
<img src="~/Content/img/img8.jpg" class="img img-rounded hvr-pulse"height="300px"  width="100%"/>
    </div>
    <div class="col-md-3" style="height:300px;">
        <img src="~/Content/img/img7.jpg" class="img img-rounded hvr-pulse" height="300px" width="100%" />
    </div>
    <div class="col-md-3" style="height:300px;">
        <img src="~/Content/img/img6.jpg"class="img img-rounded hvr-pulse" height="300px"  width="100%"/>
    </div>
    <div class="col-md-2" style="height:300px;">
        <img src="~/Content/img/img4.jpg"  class="img img-rounded hvr-pulse"height="300px"  width="100%" />
    </div>
<div class="col-md-1" style="height:300px;"></div>
</div>

<br />
<div class="row">
 <div class="col-md-1" style="height:300px;"></div>
    <div class="col-md-2" style="height:300px; ">
<img src="~/Content/img/img3.jpg"class="img img-rounded hvr-pulse" height="300px"  width="100%"/>
    </div>
    <div class="col-md-3" style="height:300px;">
        <img src="~/Content/img/mmm.jpg"  class="img img-rounded hvr-pulse" height="300px" width="100%" />
    </div>
    <div class="col-md-3" style="height:300px;">
        <img src="~/Content/img/img111.jpg"class="img img-rounded hvr-pulse" height="300px"  width="100%"/>
    </div>
    <div class="col-md-2" style="height:300px;">
        <img src="~/Content/img/img11.jpg"  class="img img-rounded hvr-pulse"height="300px"  width="100%" />
    </div>
<div class="col-md-1" style="height:300px;"></div>
</div>
<br />
<div class="row">
 <div class="col-md-1" style="height:300px;"></div>
    <div class="col-md-2" style="height:300px;">
<img src="~/Content/img/23.jpg" class="img img-rounded hvr-pulse"height="300px"  width="100%"/>
    </div>
    <div class="col-md-3" style="height:300px;">
        <img src="~/Content/img/24.jpg"   height="300px" width="100%" class="img img-rounded hvr-pulse"/>
    </div>
    <div class="col-md-3" style="height:300px;">
        <img src="~/Content/img/25.jpg"class="img img-rounded hvr-pulse" height="300px"  width="100%"/>
    </div>
    <div class="col-md-2" style="height:300px;">
        <img src="~/Content/img/26.jpg" class="img img-rounded hvr-pulse" height="300px"  width="100%" />
    </div>
<div class="col-md-1" style="height:300px;"></div>
</div>
<hr />
