@{
    ViewBag.Title = "review";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<div class="row" style="min-height:600px;">
     <div class="col-sm-3"></div>
           <div class="col-sm-6" style="min-height:380px;background:rgba(1.5,0.5,0.5,0.5); border-radius:15px
                ;margin-top: 100px;  font-family: algerian">
                <div class="col-sm-12" style="height:50px;width: 100%;color: white;text-align: center;font-size:
                    30px;font-weight: bold;font-family:ROG FONTS;">REVIEW</div>
               <form action="#" method="post"  style="color:white;font-size:18px;font-weight: bold;font-family:ROG FONTS;">
                   Name:
               <input name="Name" type="text"  placeholder="Enter Your Name...." class="form-control"/><br>
           MOBILE NO:
               <input name="mob" type="number"  placeholder="Enter YOUR  MOBILE NO...." class="form-control"/><br>
                 EMAIL:
               <input name="email" type="email"  placeholder="Enter YOUR   EMAIL...." class="form-control"/><br>
                    MESSAGE:
               <input  name="msg" type="text"  placeholder="Enter SOMETHING...." class="form-control"/><br>
               
 <input type="submit" value="SUBMIT" class="btn btn-success" style="margin-left:40%;background:transparent; "/>
               
               
               </form>
               </div>
</div>
