@{
    ViewBag.Title = "video";
    Layout = "~/Views/Shared/MasterPage.cshtml";
}

<!--SLIDER SECTION-->
        <div class="container-fluid">
            <div class="row" data-aos="role">
            <div id="dslide"  class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#dslide" data-slide-to="0" class="active"></li>
            <li data-target="#dslide" data-slide-to="1" ></li>
         
        </ol>
            <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/img/vg2.jpg">
            </div>
            <div class="item">
            <img src="~/Content/img/vg1.jpg">
            </div>
           
            </div>
            </div>
            </div>
            </div>
            <!--SLIDER SECTION-->
<div class="row">
    <div class="col-md-4" style="height:50px; background:rgba(1.5,0.5,0.5,0.5);"></div>
    <div class="col-md-4"style="height:50px; background:rgba(1.5,0.5,0.5,0.5); ">
        <p  style="font-family:ROG FONTS;color:white;text-align:center;font-size:29px;">Video Gallary</p>
    </div>
    <div class="col-md-4"style="height:50px; background:rgba(1.5,0.5,0.5,0.5); "></div>

</div>



<br />
<div class="row">
    <div class="col-md-1" style="height:400px;"></div>
      <div class="col-md-5" style="height:400px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oGq2S_wrj3s?si=JX-5OOh6PCFIAXqR"
             title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>

      <div class="col-md-5" style="height:400px;">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/98dTldUgbNU?si=v1CCfhlg7-OChmno" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-md-1" style="height:400px;"></div>
</div>
<div class="row">
    <div class="col-md-1" style="height:400px;"></div>
      <div class="col-md-5" style="height:400px;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/A7eRzYy9qIM?si=w881LKM9kF5Luspc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> 
      </div>

      <div class="col-md-5" style="height:400px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CKHS4iBign8?si=KAsJA8tFqGZPAPeP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-md-1" style="height:400px;"></div>
</div>
<div class="row">
    <div class="col-md-1" style="height:400px;"></div>
      <div class="col-md-5" style="height:400px;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/0XPrdArwhCM?si=qLIKF05IMqHzqHC5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>

      <div class="col-md-5" style="height:400px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/7O-N7Ywnjk8?si=OwgiPYsrJk7op9RA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-md-1" style="height:400px;"></div>
</div>
<div class="row">
    <div class="col-md-1" style="height:400px;"></div>
      <div class="col-md-5" style="height:400px;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/sfSR__4Z7xc?si=1ArAbup175_N1CHE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div class="col-md-5" style="height:400px;">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/hJ_M4sS_tY8?si=G8S9OjynHmhRijr-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-md-1" style="height:400px;"></div>
</div>
<div class="row">
    <div class="col-md-1" style="height:400px;"></div>
      <div class="col-md-5" style="height:400px;">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/x1MPpEE5VHc?si=Wy-tTQj1kzQ_ewls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>

      <div class="col-md-5" style="height:400px;">
       <iframe width="560" height="315" src="https://www.youtube.com/embed/7DYVG8kp4xs?si=9x8IdmE45UcmuQpS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-md-1" style="height:400px;"></div>
</div>
<div class="row">
    <div class="col-md-1" style="height:400px;"></div>
      <div class="col-md-5" style="height:400px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oGq2S_wrj3s?si=JX-5OOh6PCFIAXqR"
             title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
            gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

      </div>

      <div class="col-md-5" style="height:400px;">
         <iframe width="560" height="315" src="https://www.youtube.com/embed/98dTldUgbNU?si=v1CCfhlg7-OChmno" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div class="col-md-1" style="height:400px;"></div>
</div>
<hr />
