
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  89 m


    <link href="fflogo.png"  rel="icon">
    <!---->
    <link href="~/Content/css/bootstrap.min.css"  rel="stylesheet">
<link href="~/Content/Bootstrap3/css/hover-min.css"  rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/css/aos.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    
    <link href="~/Content/Bootstrap3/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/Content/Bootstrap3/js/jquery.js"></script>
    <script src="~/Content/Bootstrap3/js/bootstrap.min.js"></script>
    <!---->
     <!--javaScript-->
    <script>
     


        </script>
  <!--javaScript End-->
  <!--CSS-->
  <style>
#theem
{
    height: 100%;
    width: 100%;
    background:#072E33 ;
}

.button {
    font-family:ROG FONTS;
  border:2px solid white;
  background:gray;
  border-radius:50%;
  color:red;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:15px;
  margin-left:200px;
 }
      .form {
      font-size:20px;
      color:white;
      font-family:Neuton-Regular;

      }


  </style>
  <!--CSS END-->
   
</head>

    <body id="theem">
    <!--LOGO AND MENU SECTION-->
    <header id="header" class="fixed-top"style="background:#072E33 ;">
        <div class="container d-flex">
        <h1 class="logo mr-auto" style="font-family:ROG FONTS;"><a href="#">STD GYM</a></h1>
        <nav class="nav-menu d-none d-lg-block">
          
            <ul>
                <li class="active" ><a  style="font-family:ROG FONTS;color:white;" href="/Home/Index">HOME </a></li>
                <li ><a style="font-family:ROG FONTS;color:white;" href="/Home/contact">CONTACT US</a></li>
                <li ><a style="font-family:ROG FONTS;color:white;" href="/Home/picture" >PICTURE GALLERY</a></li>
                <li ><a style="font-family:ROG FONTS;color:white;" href="/Home/video" >VIDEO GALLERY</a></li>
                <li ><a  style="font-family:ROG FONTS;color:red;" href="/Home/member" >BECOME MEMBER</a></li>
                <li class="drop-down"><a  style="font-family:ROG FONTS;color:white;" href="#" >MORE</a>
                <ul>
                    <li><a  style="font-family:ROG FONTS;" href="/Home/login">LOG IN</a></li>
                    <li><a  style="font-family:ROG FONTS;" href="/Home/review">REVIEW</a></li>
                </ul>
                </li>
            </ul>
        </nav>
        </div>
        </header>

        @RenderBody()

        <!--FOOTER SECTION-->
<footer>
<div class="row">
    <div class="col-md-4" style="height:200px;">
        <p  style="font-family:ROG FONTS;color:white;text-align: center;padding-top: 10px;">SOCIAL MEDIA</p><hr>
        <!-- Add Social media icons -->
            <a href="#" class="fa fa-facebook" style="font-size:20px;color:white;padding:30px;margin-left:70px;"></a>
            <a href="#" class="fa fa-linkedin" style="font-size:20px;color:white;padding:30px;" ></a>
            <a href="https://www.youtube.com/" class="fa fa-youtube" style="font-size:20px;color:red;padding:30px;"></a>
            <a href="https://www.instagram.com/yrr_vivek/?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D" class="fa fa-instagram" style="font-size:20px;color:#e21010;padding:30px;"></a>
    </div>
     <div class="col-md-4" style="height:200px;">
           <p  style="font-family:ROG FONTS;color:white;text-align: center;padding-top: 10px;">ABOUT US </p><hr>
         <p style="font-family:ROG FONTS;color:white;text-align: center;padding-top: 10px;">+917307229576</p>
           <p style="font-family:ROG FONTS;color:white;text-align: center;padding-top: 5px;">Biswa Road,Stadium Gym,Mahmudabad</p>
                    <p style="font-family:ROG FONTS;color:white;text-align: center;padding-top: 5px;">5AM To 8AM / 4PM to 8PM</p>
     </div>
     <div class="col-md-4" style="height:200px;">
           <p  style="font-family:ROG FONTS;color:white;text-align: center;padding-top: 10px;">Made by</p><hr>
        
             <div class="row">
        <div class="col-md-6">
            <img src="~/Content/img/fflogo.png" height="200px" >
        </div>
        <div class="col-md-6">
            
       
        <p  style="padding-top: 50px;font-family:ROG FONTS;color:red;text-align: center;">MR.VIVEK YADAV</p>
        <p  style="font-family:ROG FONTS;color:red;text-align: center;">POLYTECHNIC ||| year</p>
        </div>
    </div>

       

     </div>

</div>

    



</footer>
<!--FOOTER SECTION END-->

        
    <!---->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/counterup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/main.js"></script>
    <!---->

</body>
</html>
